@if (_loading)
{
    <div class="rz-mx-12 rz-my-4">
        <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
    </div>
}
else
{
    const double paddingPercentage = 1.01;
    var snapShots = Server.ServerSnapshots?.Select(x => new Snapshot(x.Snapshot.DateTime, x.Count)).ToList() ?? [];
    var maxPlayers = (int)((Server.PlayerUpper > Server.MaxPlayers ? Server.PlayerUpper : Server.MaxPlayers) * paddingPercentage);
    var stepSize = int.Max(maxPlayers / 10, 1);

    if (snapShots.Count is not 0)
    {
        <RadzenChart Style="width: 100%">
            <RadzenLineSeries Smooth="true" Data="snapShots" CategoryProperty="DateTime" Title="Players" ValueProperty="Count">
                <RadzenMarkers Visible="false" MarkerType="MarkerType.Circle"/>
                <RadzenSeriesDataLabels Visible="false"/>
            </RadzenLineSeries>
            <RadzenValueAxis Max="maxPlayers" Min="0" Step="stepSize" FormatString="{0:N0}">
                <RadzenGridLines Visible="true"/>
            </RadzenValueAxis>
            <RadzenCategoryAxis Padding="20" Formatter="DateFormatter"/>
            <RadzenLegend Visible="false"/>
        </RadzenChart>
    }
}
