@using BetterSteamBrowser.WebCore.Utilities
@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<RadzenLayout Style="height: 100vh; grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
    <RadzenHeader>
        <TopBar @ref="_topBar"/>
    </RadzenHeader>
    <RadzenBody @ref="_body" class="rz-p-8">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="rz-mt-4">
                    @{
                        var version = HelperMethods.GetVersionAsString();
                        var versionString = $"Better Steam Browser | By Amos | Version {version}";
                    }
                    <RadzenText TextAlign="TextAlign.Center" Text="@versionString" TextStyle="TextStyle.Caption" class="rz-mb-0 rz-color-secondary-dark"/>
                </RadzenStack>
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
